$white-scale-9: rgb(255, 255, 255);
$gray-scale-4: rgb(211, 211, 211);
$gray-scale-5: rgb(201, 201, 201);
$gray-scale-6: rgb(97, 97, 97);
$black-scale-8: rgb(31, 31, 31);
$black-scale-9: rgb(0, 0, 0);
$green-scale-8: rgb(2, 122, 12);
$blue-scale-5: rgb(52, 163, 238);
$blue-scale-6: rgb(49, 152, 221);

$transition-all: all 0.2s;
$transition-transform: transform 0.2s;
$box-shadow: 1px 2px 15px 0px #4646463d;
$box-shadow-around: 6px 4px 2px 0px rgba(0, 0, 0, 2%);
$box-shadow-low: 1px 5px 11px 0px rgba(0, 0, 0, 4%);
$box-shadow-normal: 1px 4px 13px 0px rgba(0, 0, 0, 16%);
$box-shadow-feature: 1px 1px 3px 0px #46464645;
