$white-scale-9: rgb(255, 255, 255);
$gray-scale-4: rgb(211, 211, 211);
$gray-scale-5: rgb(201, 201, 201);
$gray-scale-6: rgb(97, 97, 97);
$black-scale-8: rgb(31, 31, 31);
$black-scale-9: rgb(0, 0, 0);
$green-scale-8: rgb(2, 122, 12);
