.App {
  text-align: center;
}

.App-intro {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.widget-row {
  width: 80%;
  display: flex;
  position: relative;
  justify-content: right;
  align-items: center;
}
.widget-row::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgb(211, 211, 211);
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}
.widget-row::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgb(211, 211, 211);
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
}

.widget-row__icon {
  height: 50px;
  margin: 5px 0 0 8px;
}
.widget-row__title {
  font-size: 18px;
  color: rgb(31, 31, 31);
}
